{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 25%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: 0px;
    }

    .center_screen #test {
        color: black;
        font-family: monospace;
        text-align: center;
        font-size: 16px;
    }

    #profile-photo {
      padding-bottom: 20px;
      padding-left: 20px;
      border-radius: 100%;
    }
</style>
<div class="center_screen">
    <img id="profile-photo" src="https://avatars0.githubusercontent.com/u/19942092?v=4&s=460" alt="argaghulamahmad" />
    <p id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
