{% extends "lab_7/layout/base.html" %}

{% block content %}
    <style>
        a.list-group-item {
            overflow: hidden;
        }

        a.list-group-item > div {
            vertical-align: middle;
        }
    </style>
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list-container" class="list-group">
                        {% comment %}{% if friend_list %}
                            {% for friend in friend_list %}
                                <a class="list-group-item">
                                    {{ friend.friend_name }}
                                    <span class="pull-right">
                                                 ({{ friend.npm }})
                                            </span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Opps!</strong> Tidak ada teman
                            </div>
                        {% endif %}{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            getFriendList();
        });

        {# fungsi untuk menghapus teman pada database melalui button ber'id' delete_friend_button #}
        var deleteFriend = function (friend_id) {
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:delete-friend" %}',
                data: {
                    'friend_id': friend_id
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data.friend_id);
                    if (data.success) {
                        console.log(data.friend_id);
                        selectorToDelete = "[pk=" + data.friend_id + "]";
                        $(selectorToDelete).remove();
                    }
                    if ($("#friend-list-container").children().length === 0) {
                        $("#friend-list-container").append("<div class=\"alert alert-danger text-center\">" + "<strong>Opps!</strong> Tidak ada teman" + "</div>");
                    }
                }
            });
        };

        var getFriendList = function () {
            $.ajax({
                method: "GET",
                url: "{% url "lab-7:get-friend-list-json" %}",
                success: function (data) {
                    parsed_data = JSON.parse(data['friends_json']);
                    if (parsed_data.length === 0) {
                        $('#friend-list-container').append("<div class=\"alert alert-danger text-center\">" + "<strong>Opps!</strong> Tidak ada teman" + "</div>")
                    } else {
                        for (i = 0; i < parsed_data.length; i++) {
                            friend = parsed_data[i];
                            friend_name = friend["fields"]["friend_name"];
                            friend_npm = friend["fields"]["npm"];
                            friend_id = friend["pk"];
                            $('#friend-list-container').append(
                                "<a pk=\"" + friend_id + "\" class=\"list-group-item\">"
                                + friend_name
                                + "<span class=\"pull-right\">"
                                + "<button \" onClick=\"deleteFriend(" + friend_id + ")\" type=\"button\" class=\"btn btn-danger\" id=\"delete_friend_button\"> Delete </button>"
                                + "</span>"
                                + "<span class=\"pull-center\">" + " (" + friend_npm + ")" + "</span>"
                                + "</a>"
                            );
                        }
                    }
                },
                error: function (error) {
                    alert("Data json tidak valid!")
                }
            });
        };
    </script>
{% endblock %}