{% extends "lab_7/layout/base.html" %}
{% block content %}
    <section name="mahasiswa-list" id="mahasiswa-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Mahasiswa Fasilkom</h2>
                    <div class="list-group">
                        {% if mahasiswa_list %}
                            {% for mahasiswa in mahasiswa_list %}
                                <a class="list-group-item clearfix" id="mahasiswa-idx-{{ forloop.counter0 }}">
                                    <button type="button" class="btn btn-info"
                                            onClick="getFriendDescription({{ forloop.counter0 }})">{{ mahasiswa.nama }}
                                        ({{ mahasiswa.npm }})
                                    </button>
                                    <span class="pull-right">
                                    <span class="btn btn-md btn-success"
                                          onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                        Tambah sebagai teman
                                    </span>
                                </span>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <strong>Opps!</strong> Tidak ada mahasiswa
                            </div>
                        {% endif %}
                    </div>
                    <div id="pagination-button-area">
                        {% if previous_url != -1 or previous_url != 0 %}
                            <span class="pull-left">
                            <button onclick="goNextOrPrevious(value)" value="{{ previous_url }}" id="previous-button"
                                    type="button"
                                    class="btn btn-default">Previous</button>
                        </span>
                        {% endif %}
                        {% if next_url != -1 %}
                            <span class="pull-right">
                            <button onclick="goNextOrPrevious(value)" value="{{ next_url }}" id="next-button"
                                    type="button"
                                    class="btn btn-default">Next</button>
                        </span>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="col-lg-4">
                    <h2> Teman Saya </h2>
                    <div class="list-group" id="friend-list">
                        {% if friend_list %}
                            {% for friend in friend_list %}
                                <a class="list-group-item clearfix">
                                    {{ friend.friend_name }} ({{ friend.npm }})
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger text-center" id="msg-no-friend">
                                <strong>Opps!</strong> Tidak ada teman
                            </div>
                        {% endif %}
                    </div>
                    <form id="add-friend" action="#">
                        {% csrf_token %}
                        <label for="field_npm">npm</label>
                        <input id="field_npm" type="text" name="npm" class="form-control"/>
                        <label for="field_name">name</label>
                        <input id="field_name" type="text" name="name" class="form-control"/>
                        <button type="submit">Tambah</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
        });

        var goNextOrPrevious = function (buttonUrl) {
            $.ajax({
                method: "POST",
                url: "{% url "lab-7:index" %}",
                data: {buttonUrl: buttonUrl}
            });
            window.open('/lab-7', '_self');
        };

        var addFriend = function (nama, npm) {
            $.ajax({
                method: "POST",
                url: "{% url "lab-7:add-friend" %}",
                data: {name: nama, npm: npm},
                success: function (data) {
                    {# hapus pesan tidak ada teman #}
                    $("#msg-no-friend").remove();

                    {# bila sudah ada npm tersebut dalam database friend  #}
                    if (data.length === 0) {
                        alert("Mahasiswa tersebut sudah ditambahkan sebagai teman");
                    }
                        {# bila belum ada nom tersebut dalam database friend #}
                    else {
                        obj_friend = JSON.parse(data);
                        html = '<a class="list-group-item clearfix">' +
                            obj_friend.friend_name + " (" + obj_friend.npm + ") " +
                            '</a>';
                        $("#friend-list").append(html);
                    }
                },
                error: function (error) {
                    alert("Mahasiswa tersebut sudah ditambahkan sebagai teman");
                }
            });
        };

        $("#add-friend").on("submit", function () {
            name = $("#field_name").val();
            npm = $("#field_npm").val();
            addFriend(name, npm);
            event.preventDefault();
        });

        $("#field_npm").change(function () {
            console.log($(this).val());
            npm = $(this).val();
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:validate-npm" %}',
                data: {
                    'npm': npm
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.is_taken) {
                        alert("Mahasiswa dengan npm seperti ini sudah ada");
                    }
                }
            });
        });


        var getFriendDescription = function (id) {
            console.log(id);
            window.open('friend-description/'+id+'/', '_self');
        };
    </script>
{% endblock %}